* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 90px;
}

/* ------------ Header ------------ */

.logo {
	background: url(img/logo.png) no-repeat;
	width: 132px;
	height: 36px;
	float: left;
	margin-left: 198px;
	margin-top: 27px;
	text-align: center;
	line-height: 36px;
}

.logo a {
	display: block;
	text-decoration: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav {
	float: left;
}

.nav li {
	float: left;
	list-style: none;
	margin-right: 40px;
	margin-top: 38px;
}

.nav li:first-child {
	margin-left: 400px;
}

.nav li:last-child {
	margin-right: 0;
}

.nav a {
	font-family: Open Sans, sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #777;
	text-transform: uppercase;
	text-decoration: none;
}

.nav a:hover {
	color: #000;
	transition: 0.4s ease;
}
/* ---------------- /Header ------------ */

/* --------------- Main ------------------ */

.slider {
	width: 100%;
	height: 380px;
	margin-bottom: 70px;
}

/* ------------------ /Main ------------------- */

/* ------------------ Story & Skills ---------------------- */

.wrapper {
	width: 1150px;
	height: auto;
	margin-left: 60px;
	background: linear-gradient (to top #fafafa, #fff);
}

.people {
	float: left;
	margin-right: 60px;
}

.txt {
	margin-bottom: 26px;
}

.txt h1 {
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 11px;
	text-transform: uppercase;
}

.txt p {
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #777;
	margin-top: 37px;
	margin-bottom: 37px;
}

.skills {
	margin-top: 30px;
}

.skills h2 {
	font-family: Open Sans, sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.skills img {
	margin-top: -16px;
}

/* ------------------ /Story & Skills ---------------------- */

/* ------------------- Team --------------------------- */

.team {
	margin-bottom: 67px;
}

.team h1 {
	margin-top: 95px;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 11px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 32px;
}

.team p {
	text-align: center;
	color: #777;
	line-height: 2.0;
	margin-bottom: 65px;
}

.block {
	width: 358px;
	height: auto;
	float: left;
	margin-right: 35px;
	margin-bottom: 77px;
}

.block:last-child {
	margin-right: 0;
}

.block h1 {
	text-align: left;
	margin-top: 32px;
	margin-bottom: 5px;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.block h2 {
	text-align: left;
	font-family: Open Sans, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #777;
	margin-bottom: 20px;
}

.block p {
	text-align: left;
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9c9c9c;
	margin-bottom: 30px;

}

/* ------------------------ /Team ---------------------------- */
/* --------------------- Footer -------------------------- */

footer {
	width: 100%;
	height: auto;
	background: #fff;
	border-top: 1px solid #f3f3f3;
}

.logo1 {
	width: 132px;
	height: 35px;
	background: url(img/logo.png) no-repeat;
	text-align: center;
	line-height: 35px;
	margin-left: 44%;
	margin-top: 66px;
	margin-bottom: 45px;
}

.logo1 a {
	display: block;
	text-decoration: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	/*padding: 17px 66px;*/
}

hr {
	margin-top: 25px;
}

.sprites {
	height: 60px;
	margin-left: 275px;
	line-height: 30px;
}

.sprites ul {
	float: left;
}

.sprites ul li {
	float: left;
	list-style: none;
	margin-left: 80px;
	margin-top: 30px;
}

.sprites ul li a img {
	opacity: 0.6;
}

.sprites ul li a img:hover {
	opacity: 1;
	transition: 0.4s ease;
}


.copyright {
	height: 90px;
}

.copyright p {
	margin-top: 45px;
	text-align: center;
	color: #9c9c9c;
	letter-spacing: 1px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.copyright p span {
	color: #000;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 13px;
}

/* --------------------- Media Screen ------------------ */

@media screen and (max-width: 620px) {
	
	body {
		width: 620px;
		background: linear-gradient (to top, #fafafa #fff);
		margin: 10px;
	}

	.logo {
    	margin-left: 230px;
    	border-bottom: 3px solid #f3f3f3;
    }

    .nav li {
    	margin-bottom: 20px;
    }

	.nav li:first-child {
		margin-left: 95px;
	}

	.slider {
		max-width: 610px;
		max-height: 150px;
		margin-top: 80px;
		margin-bottom: 25px;
	}

	.wrapper {
		width: 620px;
		height: auto;
		margin-left: 30px;
	}

	.people {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.txt p {
		width: 535px;
	}

	.skills img {
		width: 535px;
	}

	.team h1 {
		text-align: center;
	}

	.team p {
		width: 535px;
	}
	
	.block img {
		margin-left: 100px;
	}

	.block h1 {
		margin-left: 185px;
	}

	.block h2 {
		margin-top: 15px;
		margin-left: 210px;
	}

	.block p {
		margin-left: 100px;
		width: 358px;
	}

	.sprites {
		margin-left: 0;
	}

	.sprites ul li {
		margin-left: 63px;
	}

}

/* ----------------- /Media ---------- */










